export SECRET_KEY="jvkladsjvkjsdkKDJFKLv1vdvdnvkj2kj4kl2jklmvn"
export DB_NAME="datis_db"
export DB_USER="datisuser"
export DB_PASSWORD="datisstrongpassword"
export DB_HOST="localhost"
export DB_PORT="5432"