# Django
export SECRET_KEY="jvkladsjvkjsdkKDJFKLv1vdvdnvkj2kj4kl2jklmvn"
export DEBUG=true

# DB Environments
export DB_NAME="dbname"
export DB_USER="dbuser"
export DB_PASSWORD="dbpassword"
export DB_HOST="db"
export DB_PORT="5432"