<div class="header-column justify-content-end justify-content-lg-start px-lg-5">
    <div class="header-row pr-3">
        <div class="header-nav header-nav-links order-2 order-lg-1 header-nav-light-text flex-grow-0 justify-content-start">
            <div class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1 ">
                <nav class="collapse">
                    <ul class="nav nav-pills" id="mainNav">
                        <li class="dropdown">
                            <a class="dropdown-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}"
                               href="{% url 'home' %}">خانه</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-item {% if request.resolver_match.url_name == 'about-us' %}active{% endif %}"
                               href="{% url 'about-us' %}">درباره ما</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-item {% if request.resolver_match.url_name == 'projects' %}active{% endif %}"
                               href="{% url 'projects' %}">پروژه ها</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-item {% if request.resolver_match.url_name == 'services' %}active{% endif %}"
                               href="{% url 'services' %}">خدمات</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-item {% if request.resolver_match.url_name == 'contact-us' %}active{% endif %}"
                               href="{% url 'contact-us' %}">تماس با ما</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <button class="btn header-btn-collapse-nav"
                    data-toggle="collapse"
                    data-target=".header-nav-main nav">
                <i class="fas fa-bars"></i>
            </button>
        </div>
    </div>
</div>
