<header id="header" class="header-effect-shrink bg-color-tertiary custom-header" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 100, 'stickyHeaderContainerHeight': 83}">
    <div class="header-body border-0 box-shadow-none">
        {% include 'includes/header/header-top.html' %}
        <div class="header-container container-fluid bg-secondary px-0">
            <div class="header-row">
                {% include 'includes/header/header-logo.html' %}
                {% include 'includes/header/navbar.html' %}
            </div>
            {% include 'includes/header/header-cta.html' %}
        </div>
    </div>
</header>