<div class="header-top header-top-default bg-color-white border-bottom-0">
    <div class="container-fluid px-lg-4">
        <div class="header-row py-2">
            <div class="header-column justify-content-start">
                <div class="header-row">
                    <nav class="header-nav-top">
                        <ul class="nav nav-pills text-uppercase text-2">
                            <li class="nav-item nav-item-anim-icon">
                                <a class="px-0" href="mailto:mail@domain.com"><i class="far fa-envelope text-4 left-0"></i> porto@construction.com</a>
                            </li>
                            <li class="nav-item nav-item-anim-icon pl-md-4">
                                <span class="d-none d-md-block">
                                    <i class="far fa-clock text-4"></i><span> شنبه - پنجشنبه 9:00 صبح - 6:00 عصر / جمعه - تعطیل</span>
                                </span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="header-column justify-content-end">
                <div class="header-row">
                    <ul class="header-social-icons social-icons d-none d-sm-block social-icons-clean">
                        <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                        <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>