<div class="header-row d-none d-lg-inline-flex justify-content-end">
    <div class="order-1 order-lg-2 pr-4 d-none d-xl-block">
        <div>
            <div class="feature-box feature-box-style-2 align-items-center p-relative top-8 px-2">
                <div class="feature-box-icon">
                    <i class="fas fa-mobile-alt text-9 p-relative bottom-7 text-color-light"></i>
                </div>
                <div class="feature-box-info pl-0">
                    <p class="text-color-light opacity-8 line-height-5 text-2 pb-0 mb-2">
                        هم اکنون تماس بگیرید
                    </p>
                    <p class="text-color-light font-weight-black line-height-3 mb-3 text-5 pb-0">
                        <a href="tel:{{site_config.phone }}" class="text-color-light text-color-hover-primary text-decoration-none ltr-text">
                            {{site_config.phone }}
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>