{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="slider-container bg-color-grey rev_slider_wrapper" style="height: 650px;">
    <div id="revolutionSlider" class="slider rev_slider manual" data-version="5.4.8" style="height: 650px;">
        <ul>
            <li data-transition="fade">
                <img 
                    src="{% static 'img/demos/construction-2/slides/slide-1.jpg' %}" 
                    alt="" 
                    data-bgposition="center center" 
                    data-bgfit="cover" 
                    data-bgrepeat="no-repeat" 
                    class="rev-slidebg">

                <div 
                    class="tp-caption tp-resizeme d-none d-sm-block" 
                    data-frames='[{"delay":2000,"speed":1000,"from":"opacity:0;x:0;","to":"o:1;x:0;","ease":"Power1.easeIn"},{"delay":"wait","speed":300,"to":"opacity:0;fb:0;","ease":"Power1.easeIn"}]' 
                    data-type="image" 
                    data-x="center" 
                    data-hoffset="0" 
                    data-y="center" 
                    data-voffset="0" 
                    data-width="['auto']" 
                    data-height="['auto']" 
                    data-basealign="grid"><img src="{% static 'img/demos/construction-2/slides/slide-1-2.png' %}" alt=""></div>

                <div 
                    class="tp-caption font-weight-light text-color-dark ws-normal" 
                    data-frames='[{"from":"opacity:0;","speed":500,"to":"o:0.7;","delay":2300,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]' 
                    data-x="center" 
                    data-y="center" 
                    data-voffset="['-65','-65','-65','-75']" 
                    data-width="800" 
                    data-fontsize="['18','18','18','24']" 
                    data-lineheight="['26','26','26','26']" 
                    data-textalign="center">{{ site_config.hero_subtitle }}</div>

                <h1 
                    class="tp-caption font-weight-extra-bold text-color-secondary line ws-normal text-center" 
                    data-frames='[{"delay":1500,"speed":400,"frame":"0","from":"opacity:0;x:50%;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]' 
                    data-x="center" 
                    data-y="center" 
                    data-width="1200" 
                    data-fontsize="['48','48','48','48']" 
                    data-lineheight="['55','55','55','55']" 
                    data-textalign="['right','right','right','center']">{{ site_config.hero_title }}</h1>

                <a 
                    class="tp-caption d-inline-flex align-items-center btn btn-primary btn-outline font-weight-bold border-1" 
                    data-hash 
                    data-hash-offset="100" 
                    href="{{site_config.hero_cta_link}}"" 
                    data-frames='[{"delay":2500,"speed":2000,"frame":"0","from":"y:50%;opacity:0;","to":"y:0;o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]' 
                    data-x="center" 
                    data-y="center" 
                    data-voffset="['95','95','95','115']" 
                    data-paddingtop="['16','16','16','24']" 
                    data-paddingbottom="['16','16','16','24']" 
                    data-paddingleft="46" 
                    data-paddingright="46" 
                    data-fontsize="['13','13','13','22']" 
                    data-lineheight="['20','20','20','20']">{{ site_config.hero_cta_text }}</a>

            </li>
            <li data-transition="fade">
                <img 
                    src="{% static 'img/demos/construction-2/slides/slide-2.jpg' %}" 
                    alt="" 
                    data-bgposition="center center" 
                    data-bgfit="cover" 
                    data-bgrepeat="no-repeat" 
                    class="rev-slidebg">

                <div 
                    class="tp-caption font-weight-light text-color-dark ws-normal" 
                    data-frames='[{"from":"opacity:0;","speed":500,"to":"o:0.7;","delay":2300,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]' 
                    data-x="center" 
                    data-y="center" 
                    data-voffset="['-65','-65','-65','-75']" 
                    data-width="800" 
                    data-fontsize="['18','18','18','24']" 
                    data-lineheight="['26','26','26','26']" 
                    data-textalign="center">{{ site_config.hero_subtitle }}</div>

                <h1 
                    class="tp-caption font-weight-extra-bold text-color-secondary line ws-normal text-center" 
                    data-frames='[{"delay":1500,"speed":400,"frame":"0","from":"opacity:0;x:50%;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]' 
                    data-x="center" 
                    data-y="center" 
                    data-width="1200" 
                    data-fontsize="['48','48','48','48']" 
                    data-lineheight="['55','55','55','55']" 
                    data-textalign="['right','right','right','center']">{{ site_config.company_name }}</h1>

                <a 
                    class="tp-caption d-inline-flex align-items-center btn btn-primary btn-outline font-weight-bold border-1" 
                    data-hash 
                    data-hash-offset="100" 
                    href="{{ site_config.hero_cta_link }}" 
                    data-frames='[{"delay":3000,"speed":2000,"frame":"0","from":"y:50%;opacity:0;","to":"y:0;o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]' 
                    data-x="center" 
                    data-y="center" 
                    data-voffset="['95','95','95','115']" 
                    data-paddingtop="['16','16','16','24']" 
                    data-paddingbottom="['16','16','16','24']" 
                    data-paddingleft="46" 
                    data-paddingright="46" 
                    data-fontsize="['13','13','13','22']" 
                    data-lineheight="['20','20','20','20']">{{ site_config.hero_cta_text }}</a>
            </li>
        </ul>
    </div>
</div>

<section class="section custom-angled section-angled bg-tertiary border-top-0 pt-0 pb-0 pb-lg-5 mb-5 mb-lg-0">
    <div class="section-angled-layer-bottom bg-light d-none d-lg-block"></div>
    <div class="section-angled-content mb-0 mb-lg-5 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300">
        <div class="container container-lg pb-4 pb-lg-0">
            <div class="row pb-lg-5">
                <div class="col-lg-4 custom-select-slide py-2" id="slide-1">
                    <div class="mt-5 mb-lg-5">
                        <h4 class="text-color-secondary font-weight-bold text-5 mb-2">خدمات ساخت و ساز قابل اعتماد</h4>
                        <p class="mb-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه</p>
                        <p class="font-weight-bold mb-lg-3">
                            <a href="demo-construction-2-about-us.html" class="link-hover-style-1 text-color-primary">بیشتر بخوانید +</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 custom-select-slide py-2" id="slide-2">
                    <div class="mt-lg-5 mb-lg-5">
                        <h4 class="text-color-secondary font-weight-bold text-5 mb-2">مدیریت پروژه</h4>
                        <p class="mb-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه</p>
                        <p class="font-weight-bold mb-lg-3">
                            <a href="demo-construction-2-about-us.html" class="link-hover-style-1 text-color-primary">بیشتر بخوانید +</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 custom-select-slide py-2" id="slide-3">
                    <div class="mt-lg-5 mb-lg-5">
                        <h4 class="text-color-secondary font-weight-bold text-5 mb-2">ساخت رستوران</h4>
                        <p class="mb-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه</p>
                        <p class="font-weight-bold mb-lg-3">
                            <a href="demo-construction-2-about-us.html" class="link-hover-style-1 text-color-primary">بیشتر بخوانید +</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section bg-light border-0 p-0 m-0" id="services">
    <div class="container container-lg">
        <div class="row">
            <div class="col">
                <p class="mb-1">ما چه کار می‌کنیم؟</p>
                <h3 class="text-secondary font-weight-bold text-capitalize text-7 mb-3">خدمات ما</h3>
            </div>
        </div>
        <div class="row mx-0">
            <div class="owl-carousel owl-theme custom-dots mt-3 mb-0" data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 2}, '992': {'items': 3}, '1200': {'items': 4}}, 'margin': 18, 'loop': false, 'nav': false, 'dots': true}">
                <div>
                    <div class="card custom-card border-radius-0">
                        <div class="card-body text-center py-3">
                            <div class="feature-box-icon d-flex justify-content-center w-auto my-2 py-4">
                                <img class="icon-animated" width="80" src="{% static 'img/demos/construction-2/icons/icon-plumbing.svg' %}" alt="" data-icon data-plugin-options="{'color': '#220c3c', 'animated': true, 'delay': 0, 'strokeBased': true}">
                            </div>
                            <h4 class="card-title mb-3 text-5 text-secondary font-weight-bold">لوله کشی</h4>
                            <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و</p>
                            <p class="font-weight-bold mb-0 pb-4">
                                <a href="demo-construction-2-services-details.html" class="link-hover-style-1 text-color-primary">بیشتر بخوانید +</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card custom-card border-radius-0">
                        <div class="card-body text-center py-3">
                            <div class="feature-box-icon d-flex justify-content-center w-auto my-2 py-4">
                                <img class="icon-animated" width="80" src="{% static 'img/demos/construction-2/icons/icon-construction.svg' %}" alt="" data-icon data-plugin-options="{'color': '#220c3c', 'animated': true, 'delay': 200, 'strokeBased': true}">
                            </div>
                            <h4 class="card-title mb-3 text-5 text-secondary font-weight-bold">ساخت و ساز عمومی</h4>
                            <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و</p>
                            <p class="font-weight-bold mb-0 pb-4">
                                <a href="demo-construction-2-services-details.html" class="link-hover-style-1 text-color-primary">بیشتر بخوانید +</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card custom-card border-radius-0">
                        <div class="card-body text-center py-3">
                            <div class="feature-box-icon d-flex justify-content-center w-auto my-2 py-4">
                                <img class="icon-animated" width="80" src="{% static 'img/demos/construction-2/icons/icon-painting.svg' %}" alt="" data-icon data-plugin-options="{'color': '#220c3c', 'animated': true, 'delay': 400, 'strokeBased': true}">
                            </div>
                            <h4 class="card-title mb-3 text-5 text-secondary font-weight-bold">نقاشی</h4>
                            <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و</p>
                            <p class="font-weight-bold mb-0 pb-4">
                                <a href="demo-construction-2-services-details.html" class="link-hover-style-1 text-color-primary">بیشتر بخوانید +</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card custom-card border-radius-0">
                        <div class="card-body text-center py-3">
                            <div class="feature-box-icon d-flex justify-content-center w-auto my-2 py-4">
                                <img class="icon-animated" width="80" src="{% static 'img/demos/construction-2/icons/icon-pre-construction.svg' %}" alt="" data-icon data-plugin-options="{'color': '#220c3c', 'animated': true, 'delay': 600, 'strokeBased': true}">
                            </div>
                            <h4 class="card-title mb-3 text-5 text-secondary font-weight-bold">پیش ساخت و ساز</h4>
                            <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و</p>
                            <p class="font-weight-bold mb-0 pb-4">
                                <a href="demo-construction-2-services-details.html" class="link-hover-style-1 text-color-primary">بیشتر بخوانید +</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card custom-card border-radius-0">
                        <div class="card-body text-center py-3">
                            <div class="feature-box-icon d-flex justify-content-center w-auto my-2 py-4">
                                <img class="icon-animated" width="80" src="{% static 'img/demos/construction-2/icons/icon-painting.svg' %}" alt="" data-icon data-plugin-options="{'color': '#220c3c', 'animated': true, 'delay': 800, 'strokeBased': true}">
                            </div>
                            <h4 class="card-title mb-3 text-5 text-secondary font-weight-bold">نقاشی</h4>
                            <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و</p>
                            <p class="font-weight-bold mb-0 pb-4">
                                <a href="demo-construction-2-services-details.html" class="link-hover-style-1 text-color-primary">بیشتر بخوانید +</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section custom-angled section-angled bg-tertiary border-top-0 pb-0 pb-lg-5 mb-5 mb-lg-0">
    <div class="section-angled-layer-top bg-light"></div>
    <div class="section-angled-layer-bottom bg-light d-none d-lg-block"></div>
    <div class="section-angled-content mb-0 mb-lg-5">
        <div class="container py-5 container-lg custom-container">
            <div class="row align-items-center justify-content-center pt-5 pb-lg-5">
                <div class="col-md-8 col-xl-6 mb-md-5 mb-xl-4">
                    <div class="position-relative">
                        <img src="{% static 'img/demos/construction-2/about-us/about-1.jpg' %}" class="img-fluid custom-img border-radius-0 max-w-90 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="600ms" alt="">
                        <img src="{% static 'img/demos/construction-2/about-us/about-2.jpg' %}" class="img-fluid custom-img border-radius-0 position-absolute custom-img-about appear-animation" data-appear-animation="expandIn" data-appear-animation-delay="600ms" alt="">
                    </div>
                </div>
                <div class="col-xl-6 mt-lg-5 mt-xl-0">
                    <div class="pl-md-4 mt-5">
                        <div class="row">
                            <div class="col">
                                <p class="mb-1">ما چه کسی هستیم</p>
                                <h3 class="text-secondary font-weight-bold text-capitalize text-7 mb-2">بیشتر درباره ساخت و ساز پورتو</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text-4 pt-2 mb-4">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                </p>					
                                <p class="mb-3">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
                                </p>	
                                <p class="font-weight-bold mb-3">
                                    <a href="demo-construction-2-about-us.html" class="link-hover-style-1 text-color-primary">بیشتر بخوانید +</a>
                                </p>
                                <div class="row mb-4 counters counters-sm text-secondary">
                                    <div class="col-6 col-lg-3 mb-4 mb-lg-0 mt-4">
                                        <div class="counter">
                                            <strong data-to="35" data-append="+">35+</strong>
                                            <label class="text-2 mt-2">سال کسب و کار</label>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-3 mb-4 mb-lg-0 mt-4">
                                        <div class="counter">
                                            <strong data-to="240" data-append="+">240+</strong>
                                            <label class="text-2 mt-2">مشتری راضی</label>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-3 mb-4 mb-sm-0 mt-4">
                                        <div class="counter">
                                            <strong data-to="2000" data-append="+">2000+</strong>
                                            <label class="text-2 mt-2">پروژه موفق</label>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-3 mt-4">
                                        <div class="counter">
                                            <strong data-to="130" data-append="+">130+</strong>
                                            <label class="text-2 mt-2">مشاوران حرفه ای</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section bg-light border-0 py-0 my-2">
    <div class="container container-lg">
        <div class="row">
            <div class="col">
                <p class="mb-1 text-uppercase">نمونه کارهای ویژه</p>
                <h3 class="text-secondary font-weight-bold text-capitalize text-7 mb-2">نمونه‌کارهای ما</h3>
            </div>
        </div>
            
        <div class="sort-destination-loader sort-destination-loader-showing m-0 mt-4 p-0">
            <div class="row row-gutter-sm portfolio-list sort-destination" data-sort-id="portfolio">							
                <div class="col-sm-6 isotope-item">
                    <div class="portfolio-item mb-3 pb-1">
                        <a href="demo-construction-2-projects-details.html">
                            <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                <span class="thumb-info-wrapper">
                                    <img src="{% static 'img/demos/construction-2/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt="">
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 isotope-item">
                    <div class="portfolio-item mb-3 mb-md-5 mb-lg-3 pb-1">
                        <a href="demo-construction-2-projects-details.html">
                            <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                <span class="thumb-info-wrapper">
                                    <img src="{% static 'img/demos/construction-2/portfolio/portfolio-2.jpg' %}" class="img-fluid" alt="">
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 isotope-item">
                    <div class="portfolio-item mb-3 pb-1">
                        <a href="demo-construction-2-projects-details.html">
                            <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                <span class="thumb-info-wrapper">
                                    <img src="{% static 'img/demos/construction-2/portfolio/portfolio-3.jpg' %}" class="img-fluid" alt="">
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 isotope-item">
                    <div class="portfolio-item mb-3 pb-1">
                        <a href="demo-construction-2-projects-details.html">
                            <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                                <span class="thumb-info-wrapper">
                                    <img src="{% static 'img/demos/construction-2/portfolio/portfolio-4.jpg' %}" class="img-fluid" alt="">
                                </span>
                            </span>
                        </a>
                    </div>
                </div>	
            </div>
        </div>

        <ul class="nav nav-pills sort-source sort-source-style-3 d-none" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{'layoutMode': 'packery', 'filter': '*'}">
            <li class="nav-item active" data-option-value="*"><a class="nav-link text-1 text-uppercase active" href="{% url 'projects' %}">نمایش همه</a></li>
        </ul>

        <div class="row">
            <div class="col text-center pb-4">
                <a href="{% url 'projects' %}" class="btn btn-primary btn-outline custom-btn font-weight-extra-bold mt-3 px-5 py-3 border-width-4">مشاهده همه +</a>
            </div>
        </div>

    </div>
</section>

<section class="container-fluid mb-5 mb-lg-0">
    <div class="row">
        <div class="col-lg-6 px-0">
            <section class="section custom-angled section-angled bg-secondary border-top-0">
                <div class="section-angled-layer-top bg-light"></div>
                <div class="section-angled-layer-bottom bg-light d-none d-lg-block"></div>
                <div class="section-angled-content">
                    <div class="container container-lg">
                        <div class="row justify-content-lg-end py-3">
                            <div class="col-lg-10 custom-col pt-5 pb-lg-5 mt-5 mb-lg-5 px-3 px-lg-1 pr-lg-3">
                                <div class="col px-0">
                                    <p class="mb-1 text-uppercase">کارهای اضافی</p>
                                    <h3 class="text-light font-weight-bold text-capitalize text-7 mb-2">خدمات ویژه</h3>
                                </div>
                                <div class="row pr-3">
                                    <div class="col">
                                        <p class="text-4 pt-2 mb-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                        </p>												
                                        <p>
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای
                                        </p>
                                        <p class="mb-2 font-weight-bold">
                                            <a href="{% url 'contact-us' %}" class="link-hover-style-1 text-color-primary">درخواست خدمات +</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-6 px-0 d-none d-lg-flex">
            <section class="section section-angled custom-angled section-angled-reverse section-center bg-secondary border-top-0 flex-grow-1" data-plugin-lazyload data-plugin-options="{'threshold': 300, 'effect':'fadeIn'}" data-original="{% static 'img/demos/construction-2/services/services-1.jpg' %}" style="background-position: right center; background-size: cover;">
                <div class="section-angled-layer-top bg-light d-none d-lg-block"></div>
                <div class="section-angled-layer-bottom bg-light"></div>
                <div class="section-angled-content">
                </div>
            </section>
        </div>
    </div>
</section>
{% endblock %}