{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="page-header bg-color-tertiary custom-page-header page-header-modern page-header-background page-header-background-sm parallax mt-0" data-plugin-parallax data-plugin-options="{'speed': 1.2}" data-image-src="{% static 'img/demos/construction-2/page-header.jpg' %}">
	<div class="container">
		<div class="row">
			<div class="col-md-12 align-self-center">
				<ul class="breadcrumb custom-breadcrumb d-block text-center text-4">
					<li><a href="#">خانه</a></li>
					<li class="active">خدمات</li>
				</ul>
			</div>
			<div class="col-md-12 align-self-center p-static text-center mt-1">
				<h1 class="font-weight-bold text-color-secondary text-11 primary-font">ساخت و ساز عمومی</h1>
			</div>
		</div>
	</div>
</section>

<div class="container container-lg pt-4 pb-5 mb-2">
	<div class="row">
		<div class="col-lg-3 pb-4 pb-lg-0">

			<aside class="sidebar">

				<div class="px-3">
					<h3 class="text-color-secondary text-capitalize font-weight-bold text-5 mt-0 mb-3">همه خدمات</h3>

					<ul class="nav nav-list flex-column mb-0 p-relative right-9 mb-4">
						<li class="nav-item"><a class="nav-link font-weight-bold text-primary text-3 border-0 my-1 p-relative" href="demo-construction-2-services-details.html">ساخت و ساز عمومی</a></li>
						<li class="nav-item"><a class="nav-link font-weight-bold text-secondary text-3 border-0 my-1 p-relative" href="demo-construction-2-services-details.html">لوله کشی</a></li>
						<li class="nav-item"><a class="nav-link font-weight-bold text-secondary text-3 border-0 my-1 p-relative" href="demo-construction-2-services-details.html">نقاشی</a></li>
						<li class="nav-item"><a class="nav-link font-weight-bold text-secondary text-3 border-0 my-1 p-relative" href="demo-construction-2-services-details.html">پیش ساخت و ساز</a></li>
					</ul>
				</div>
				
				<div class="py-1 clearfix">
					<hr class="my-2">
				</div>

				<div class="px-3 mt-4">

					<div class="flex-column">
						<div class="row px-3 mb-4 pb-2">
							<h3 class="text-color-secondary text-capitalize font-weight-bold text-5 m-0 pt-2 pb-1 w-100">اطلاعات تماس</h3>
							<p class="pt-1 mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
						</div>
						<div class="row px-lg-3 align-items-center">
							<div class="col-md-2 pb-3 pb-lg-0 text-center">
								<i class="fas fa-map-marker-alt text-8 text-secondary"></i>
							</div>
							<div class="col-md-10 text-center text-md-left">
								<h4 class="text-secondary font-weight-bold text-capitalize mb-1 text-4">آدرس</h4>
								<p class="line-height-8 pt-1 my-n1">فلکه دانشگاه، برج بلور، طبقه 456</p>
							</div>
						</div>
						<hr>
						<div class="row px-lg-3 align-items-center">
							<div class="col-md-2 pb-3 pb-lg-0 text-center">
								<i class="fas fa-mobile-alt text-8 text-secondary"></i>
							</div>
							<div class="col-md-10 text-center text-md-left">
								<h4 class="text-secondary font-weight-bold text-capitalize mb-1 text-4">شماره تلفن</h4>
								<p class="line-height-8 pt-1 my-n1"><span class="ltr-text">(800) 123-4567</span></p>
							</div>
						</div>
						<hr>
						<div class="row px-lg-3 align-items-center">
							<div class="col-md-2 pb-3 pb-lg-0 text-center">
								<i class="far fa-envelope text-7 text-secondary"></i>
							</div>
							<div class="col-md-10 text-center text-md-left">
								<h4 class="text-secondary font-weight-bold text-capitalize mb-1 text-4">آدرس ایمیل</h4>
								<p class="line-height-8 pt-1 my-n1"><a class="px-0 text-default" href="mailto:mail@domain.com">porto@construction.com</a></p>
							</div>
						</div>
					</div>

				</div>

			</aside>

		</div>
		<div class="col-lg-9 mt-5 mt-lg-0">

			<div class="owl-carousel owl-theme custom-dots my-0" data-plugin-options="{'items': 1, 'margin': 18, 'loop': true, 'nav': false, 'dots': true}">
				<div>
					<img src="{% static 'img/demos/construction-2/services/services-2.jpg' %}" class="img-fluid" alt="">
				</div>
				<div>
					<img src="{% static 'img/demos/construction-2/services/services-3.jpg' %}" class="img-fluid" alt="">
				</div>
			</div>

			<div class="mt-4">
				<p class="text-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف </p>

				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این</p>

				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در</p>

				<div class="my-4">
					<ul class="list list-icons list-primary list-borders m-0">
						<li><i class="fas fa-check"></i> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه</li>
						<li><i class="fas fa-check"></i> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</li>
						<li><i class="fas fa-check"></i> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</li>
					</ul>
				</div>

				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در</p>

				<div class="row align-items-center my-5">
					<div class="col-lg-7 mb-5 mb-lg-0">
						<img src="{% static 'img/demos/construction-2/about-us/about-1.jpg' %}" class="img-fluid custom-img border-radius-0 max-w-90 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="600ms" alt="">
						<img src="{% static 'img/demos/construction-2/about-us/about-2.jpg' %}" class="img-fluid custom-img border-radius-0 position-absolute custom-img-about appear-animation" data-appear-animation="expandIn" data-appear-animation-delay="600ms" alt="">
					</div>
					<div class="col-lg-5 mt-4 mt-md-5 mt-lg-0">
						<div class="pl-lg-4">
							<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف</p>
							<p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این</p>
						</div>
					</div>
				</div>

				<p class="pt-lg-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این</p>

				<div class="mb-4 mt-5">
					<div class="row process">
						<div class="process-step col-md-6 col-lg-3 mb-5 mb-lg-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
							<div class="process-step-circle">
								<strong class="process-step-circle-content">01</strong>
							</div>
							<div class="process-step-content">
								<h4 class="mb-1 text-4 font-weight-bold">قدم اول</h4>
								<p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
							</div>
						</div>
						<div class="process-step col-md-6 col-lg-3 mb-5 mb-lg-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
							<div class="process-step-circle">
								<strong class="process-step-circle-content">02</strong>
							</div>
							<div class="process-step-content">
								<h4 class="mb-1 text-4 font-weight-bold">قدم دوم</h4>
								<p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
							</div>
						</div>
						<div class="process-step col-md-6 col-lg-3 mb-5 mb-md-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
							<div class="process-step-circle">
								<strong class="process-step-circle-content">03</strong>
							</div>
							<div class="process-step-content">
								<h4 class="mb-1 text-4 font-weight-bold">قدم سوم</h4>
								<p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
							</div>
						</div>
						<div class="process-step col-md-6 col-lg-3 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
							<div class="process-step-circle">
								<strong class="process-step-circle-content">04</strong>
							</div>
							<div class="process-step-content">
								<h4 class="mb-1 text-4 font-weight-bold">قدم چهارم</h4>
								<p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
							</div>
						</div>
					</div>
				</div>

				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در</p>


			</div>

		</div>
	</div>
</div>
{% endblock %}