{% extends 'base.html' %}

{% block content %}
<section class="page-header bg-color-tertiary custom-page-header page-header-modern page-header-background page-header-background-sm parallax mt-0" data-plugin-parallax data-plugin-options="{'speed': 1.2}" data-image-src="img/demos/construction-2/page-header.jpg">
	<div class="container">
		<div class="row">
			<div class="col-md-12 align-self-center">
				<ul class="breadcrumb custom-breadcrumb d-block text-center text-4">
					<li><a href="#">خانه</a></li>
					<li class="active">خدمات</li>
				</ul>
			</div>
			<div class="col-md-12 align-self-center p-static text-center mt-1">
				<h1 class="font-weight-bold text-color-secondary text-11">خدمات</h1>
			</div>
		</div>
	</div>
</section>

<div class="container container-lg pt-4">
	<div class="row pb-3">
		<div class="col-md-6 col-lg-4 mb-4 pb-2">
			<div class="card custom-card border-radius-0 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="600">
				<div class="card-body text-center py-3">
					<div class="feature-box-icon d-flex justify-content-center w-auto my-2 py-4">
						<img class="icon-animated" width="80" src="img/demos/construction-2/icons/icon-plumbing.svg" alt="" data-icon data-plugin-options="{'color': '#220c3c', 'animated': true, 'delay': 0, 'strokeBased': true}">
					</div>
					<h4 class="card-title mb-3 text-5 text-secondary font-weight-bold">لوله کشی</h4>
					<p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و</p>
					<p class="font-weight-bold mb-0 pb-4">
						<a href="demo-construction-2-services-details.html" class="link-hover-style-1 text-color-primary">بیشتر بخوانید +</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 mb-4 pb-2">
			<div class="card custom-card border-radius-0 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="800">
				<div class="card-body text-center py-3">
					<div class="feature-box-icon d-flex justify-content-center w-auto my-2 py-4">
						<img class="icon-animated" width="80" src="img/demos/construction-2/icons/icon-construction.svg" alt="" data-icon data-plugin-options="{'color': '#220c3c', 'animated': true, 'delay': 200, 'strokeBased': true}">
					</div>
					<h4 class="card-title mb-3 text-5 text-secondary font-weight-bold">ساخت و ساز عمومی</h4>
					<p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و</p>
					<p class="font-weight-bold mb-0 pb-4">
						<a href="demo-construction-2-services-details.html" class="link-hover-style-1 text-color-primary">بیشتر بخوانید +</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 mb-4 pb-2">
			<div class="card custom-card border-radius-0 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="1000">
				<div class="card-body text-center py-3">
					<div class="feature-box-icon d-flex justify-content-center w-auto my-2 py-4">
						<img class="icon-animated" width="80" src="img/demos/construction-2/icons/icon-painting.svg" alt="" data-icon data-plugin-options="{'color': '#220c3c', 'animated': true, 'delay': 400, 'strokeBased': true}">
					</div>
					<h4 class="card-title mb-3 text-5 text-secondary font-weight-bold">نقاشی</h4>
					<p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و</p>
					<p class="font-weight-bold mb-0 pb-4">
						<a href="demo-construction-2-services-details.html" class="link-hover-style-1 text-color-primary">بیشتر بخوانید +</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 mb-4 pb-2">
			<div class="card custom-card border-radius-0 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="1200">
				<div class="card-body text-center py-3">
					<div class="feature-box-icon d-flex justify-content-center w-auto my-2 py-4">
						<img class="icon-animated" width="80" src="img/demos/construction-2/icons/icon-pre-construction.svg" alt="" data-icon data-plugin-options="{'color': '#220c3c', 'animated': true, 'delay': 600, 'strokeBased': true}">
					</div>
					<h4 class="card-title mb-3 text-5 text-secondary font-weight-bold">پیش ساخت و ساز</h4>
					<p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و</p>
					<p class="font-weight-bold mb-0 pb-4">
						<a href="demo-construction-2-services-details.html" class="link-hover-style-1 text-color-primary">بیشتر بخوانید +</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 mb-4 pb-2">
			<div class="card custom-card border-radius-0 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="1400">
				<div class="card-body text-center py-3">
					<div class="feature-box-icon d-flex justify-content-center w-auto my-2 py-4">
						<img class="icon-animated" width="80" src="img/demos/construction-2/icons/icon-painting.svg" alt="" data-icon data-plugin-options="{'color': '#220c3c', 'animated': true, 'delay': 800, 'strokeBased': true}">
					</div>
					<h4 class="card-title mb-3 text-5 text-secondary font-weight-bold">نقاشی</h4>
					<p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و</p>
					<p class="font-weight-bold mb-0 pb-4">
						<a href="demo-construction-2-services-details.html" class="link-hover-style-1 text-color-primary">بیشتر بخوانید +</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 mb-4 pb-2">
			<div class="card custom-card border-radius-0 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="1600">
				<div class="card-body text-center py-3">
					<div class="feature-box-icon d-flex justify-content-center w-auto my-2 py-4">
						<img class="icon-animated" width="80" src="img/demos/construction-2/icons/icon-pre-construction.svg" alt="" data-icon data-plugin-options="{'color': '#220c3c', 'animated': true, 'delay': 600, 'strokeBased': true}">
					</div>
					<h4 class="card-title mb-3 text-5 text-secondary font-weight-bold">پیش ساخت و ساز</h4>
					<p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و</p>
					<p class="font-weight-bold mb-0 pb-4">
						<a href="demo-construction-2-services-details.html" class="link-hover-style-1 text-color-primary">بیشتر بخوانید +</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="container-fluid mb-5 mb-lg-0">
	<div class="row">
		<div class="col-lg-6 px-0">
			<section class="section custom-angled section-angled bg-secondary border-top-0">
				<div class="section-angled-layer-top bg-light"></div>
				<div class="section-angled-layer-bottom bg-light d-none d-lg-block"></div>
				<div class="section-angled-content">
					<div class="container container-lg">
						<div class="row justify-content-lg-end py-3">
							<div class="col-lg-10 custom-col pt-5 pb-lg-5 mt-5 mb-lg-5 px-3 px-lg-1 pr-lg-3">
								<div class="col px-0">
									<p class="mb-1 text-uppercase">کارهای اضافی</p>
									<h3 class="text-light font-weight-bold text-capitalize text-7 mb-2">خدمات ویژه</h3>
								</div>
								<div class="row pr-3">
									<div class="col">
										<p class="text-4 pt-2 mb-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
										</p>												
										<p>
											لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای
										</p>
										<p class="mb-2 font-weight-bold">
											<a href="demo-construction-2-contact-us.html" class="link-hover-style-1 text-color-primary">درخواست خدمات +</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="col-lg-6 px-0 d-none d-lg-flex">
			<section class="section section-angled custom-angled section-angled-reverse section-center bg-dark border-top-0" style="background-image: url(img/demos/construction-2/services/services-1.jpg); background-position: right center; background-size: cover; flex: 1">
				<div class="section-angled-layer-top bg-light d-none d-lg-block"></div>
				<div class="section-angled-layer-bottom bg-light"></div>
				<div class="section-angled-content">
				</div>
			</section>
		</div>
	</div>
</section>

<section class="section section-height-3 bg-light border-0 pt-3 pt-lg-0 pb-4">
	<div class="container container-lg appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
		<div class="row">
			<div class="col">
				<p class="mb-1">آنچه می گویند</p>
				<h3 class="text-secondary font-weight-bold text-capitalize text-7 mb-3">نقد و بررسی مشتریان</h3>
			</div>
		</div>
		<div class="row mx-0">
			<div class="owl-carousel owl-theme custom-dots mt-3 mb-0" data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 2}, '992': {'items': 2}, '1200': {'items': 2}}, 'margin': 18, 'loop': true, 'nav': false, 'dots': true}">
				<div>
					<div class="testimonial testimonial-style-4 custom-testimonial py-4 px-3">
						<blockquote class="px-3 ml-4">
							<p class="mb-0 font-weight-normal">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
						</blockquote>
						<div class="testimonial-arrow-down"></div>
						<div class="testimonial-author pb-3 mt-1 ml-5">
							<div class="testimonial-author-thumbnail">
								<img src="img/avatars/avatar-3.jpg" class="img-fluid rounded-circle" alt="">
							</div>
							<p><strong class="font-weight-extra-bold">جان اسنو</strong><span class="text-1">معمار</span></p>
						</div>
					</div>
				</div>
				<div>
					<div class="testimonial testimonial-style-4 custom-testimonial py-4 px-3">
						<blockquote class="px-3 ml-4">
							<p class="mb-0 font-weight-normal">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
						</blockquote>
						<div class="testimonial-arrow-down"></div>
						<div class="testimonial-author pb-3 mt-1 ml-5">
							<div class="testimonial-author-thumbnail">
								<img src="img/avatars/avatar-2.jpg" class="img-fluid rounded-circle" alt="">
							</div>
							<p><strong class="font-weight-extra-bold">استیو جابز</strong><span class="text-1">مهندس</span></p>
						</div>
					</div>
				</div>

				<div>
					<div class="testimonial testimonial-style-4 custom-testimonial py-4 px-3">
						<blockquote class="px-3 ml-4">
							<p class="mb-0 font-weight-normal">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
						</blockquote>
						<div class="testimonial-arrow-down"></div>
						<div class="testimonial-author pb-3 mt-1 ml-5">
							<div class="testimonial-author-thumbnail">
								<img src="img/avatars/avatar-3.jpg" class="img-fluid rounded-circle" alt="">
							</div>
							<p><strong class="font-weight-extra-bold">جان اسنو</strong><span class="text-1">معمار</span></p>
						</div>
					</div>
				</div>
				<div>
					<div class="testimonial testimonial-style-4 custom-testimonial py-4 px-3">
						<blockquote class="px-3 ml-4">
							<p class="mb-0 font-weight-normal">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
						</blockquote>
						<div class="testimonial-arrow-down"></div>
						<div class="testimonial-author pb-3 mt-1 ml-5">
							<div class="testimonial-author-thumbnail">
								<img src="img/avatars/avatar-2.jpg" class="img-fluid rounded-circle" alt="">
							</div>
							<p><strong class="font-weight-extra-bold">استیو جابز</strong><span class="text-1">مهندس</span></p>
						</div>
					</div>
				</div>

				<div>
					<div class="testimonial testimonial-style-4 custom-testimonial py-4 px-3">
						<blockquote class="px-3 ml-4">
							<p class="mb-0 font-weight-normal">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
						</blockquote>
						<div class="testimonial-arrow-down"></div>
						<div class="testimonial-author pb-3 mt-1 ml-5">
							<div class="testimonial-author-thumbnail">
								<img src="img/avatars/avatar-3.jpg" class="img-fluid rounded-circle" alt="">
							</div>
							<p><strong class="font-weight-extra-bold">جان اسنو</strong><span class="text-1">معمار</span></p>
						</div>
					</div>
				</div>
				<div>
					<div class="testimonial testimonial-style-4 custom-testimonial py-4 px-3">
						<blockquote class="px-3 ml-4">
							<p class="mb-0 font-weight-normal">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
						</blockquote>
						<div class="testimonial-arrow-down"></div>
						<div class="testimonial-author pb-3 mt-1 ml-5">
							<div class="testimonial-author-thumbnail">
								<img src="img/avatars/avatar-2.jpg" class="img-fluid rounded-circle" alt="">
							</div>
							<p><strong class="font-weight-extra-bold">استیو جابز</strong><span class="text-1">مهندس</span></p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
{% endblock %}