{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="page-header bg-color-tertiary custom-page-header page-header-modern page-header-background page-header-background-sm parallax mt-0"
             data-plugin-parallax
             data-plugin-options="{'speed': 1.2}"
             data-image-src="{% static 'img/demos/construction-2/page-header.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-md-12 align-self-center">
                    <ul class="breadcrumb custom-breadcrumb d-block text-center text-4">
                        <li><a href="{% url 'home' %}">خانه</a></li>
                        <li class="active">خدمات</li>
                    </ul>
                </div>
                <div class="col-md-12 align-self-center p-static text-center mt-1">
                    <h1 class="font-weight-bold text-color-secondary text-11">خدمات</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="container container-lg pt-4">
        <div class="row pb-3">
            {% for service in services %}
                <div class="col-md-6 col-lg-4 mb-4 pb-2">
                    <div class="card custom-card border-radius-0 appear-animation"
                         data-appear-animation="fadeIn"
                         data-appear-animation-delay="600">
                        <div class="card-body text-center py-3">
                            <h4 class="card-title mb-3 text-5 text-secondary font-weight-bold">{{ service.name }}</h4>
                            <p class="card-text">{{ service.short_description }}</p>
                            <p class="font-weight-bold mb-0 pb-4">
                                <a href="{% url 'service-detail' service.slug %}"
                                   class="link-hover-style-1 text-color-primary">بیشتر بخوانید +</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <section class="container-fluid mb-5 mb-lg-0">
        <div class="row">
            <div class="col-lg-6 px-0">
                <section class="section custom-angled section-angled bg-secondary border-top-0">
                    <div class="section-angled-layer-top bg-light"></div>
                    <div class="section-angled-layer-bottom bg-light d-none d-lg-block"></div>
                    <div class="section-angled-content">
                        <div class="container container-lg">
                            <div class="row justify-content-lg-end py-3">
                                <div class="col-lg-10 custom-col pt-5 pb-lg-5 mt-5 mb-lg-5 px-3 px-lg-1 pr-lg-3">
                                    <div class="col px-0">
                                        <p class="mb-1 text-uppercase">کارهای اضافی</p>
                                        <h3 class="text-light font-weight-bold text-capitalize text-7 mb-2">خدمات ویژه</h3>
                                    </div>
                                    <div class="row pr-3">
                                        <div class="col">
                                            <p class="text-4 pt-2 mb-4">
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                            </p>
                                            <p>
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای
                                            </p>
                                            <p class="mb-2 font-weight-bold">
                                                <a href="{% url 'contact-us' %}"
                                                   class="link-hover-style-1 text-color-primary">درخواست خدمات +</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-6 px-0 d-none d-lg-flex">
                <section class="section section-angled custom-angled section-angled-reverse section-center bg-dark border-top-0"
                         style="background-image: url({% static 'img/demos/construction-2/services/services-1.jpg' %});
                                background-position: right center;
                                background-size: cover;
                                flex: 1">
                    <div class="section-angled-layer-top bg-light d-none d-lg-block"></div>
                    <div class="section-angled-layer-bottom bg-light"></div>
                    <div class="section-angled-content"></div>
                </section>
            </div>
        </div>
    </section>
{% endblock %}
