{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="page-header bg-color-tertiary custom-page-header page-header-modern page-header-background page-header-background-sm parallax mt-0"
             data-plugin-parallax
             data-plugin-options="{'speed': 1.2}"
             data-image-src="{% static 'img/demos/construction-2/page-header.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-md-12 align-self-center">
                    <ul class="breadcrumb custom-breadcrumb d-block text-center text-4">
                        <li><a href="{% url 'home' %}">خانه</a></li>
                        <li class="active">خدمات</li>
                    </ul>
                </div>
                <div class="col-md-12 align-self-center p-static text-center mt-1">
                    <h1 class="font-weight-bold text-color-secondary text-11">خدمات</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="container container-lg pt-4">
        <div class="row pb-3">
            {% for service in services %}
                <div class="col-md-6 col-lg-4 mb-4 pb-2">
                    <div class="card custom-card border-radius-0 appear-animation"
                         data-appear-animation="fadeIn"
                         data-appear-animation-delay="600">
                        <div class="card-body text-center py-3">
                            <h4 class="card-title mb-3 text-5 text-secondary font-weight-bold">{{ service.name }}</h4>
                            <p class="card-text">{{ service.short_description }}</p>
                            <p class="font-weight-bold mb-0 pb-4">
                                <a href="{% url 'service-detail' service.slug %}"
                                   class="link-hover-style-1 text-color-primary">بیشتر بخوانید +</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include 'components/special-service.html' %}
{% endblock %}
