<section class="bg-color-primary">
    <div class="container container-lg text-center align-items-center justify-content-center py-4">
        <div class="row align-items-center justify-content-center ">
            <h2 class="d-inline text-light font-weight-bold my-0 float-right px-4 mb-3 mb-md-0 text-7">به بیش از 100 هزار مشتری {{ site_config.company_name}} بپیوندید</h2>
            <a href="{% url 'about-us' %}" class="btn btn-outline btn-light rounded-0 text-hover-dark custom-btn-white text-3 font-weight-bold mt-4 mb-2 my-md-0 px-5 ml-2 py-3">ارتباط با ما</a>
        </div>
    </div>
</section>