{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="page-header bg-color-tertiary custom-page-header page-header-modern page-header-background page-header-background-sm parallax mt-0"
             data-plugin-parallax
             data-plugin-options="{'speed': 1.2}"
             data-image-src="{% static 'img/demos/construction-2/page-header.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-md-12 align-self-center">
                    <ul class="breadcrumb custom-breadcrumb d-block text-center text-4">
                        <li><a href="{% url 'home' %}">خانه</a></li>
                        <li class="active">تماس با ما</li>
                    </ul>
                </div>
                <div class="col-md-12 align-self-center p-static text-center mt-1">
                    <h1 class="font-weight-bold text-color-secondary text-11">تماس با ما</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="container container-lg pt-4">
        <div class="row">
            <div class="col">
                <p class="mb-1">در ارتباط باشید</p>
                <h3 class="text-secondary font-weight-bold text-capitalize text-7 mb-3">یک پیام برای ما بفرستید</h3>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-lg-7 pb-5">
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                </p>
                <form class="contact-form custom-form-style-1" method="POST">
                    {% csrf_token %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success mt-4">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger mt-4">
                            {% for error in form.non_field_errors %}{{ error }}{% endfor %}
                        </div>
                    {% endif %}
                    <div class="form-row">
                        <div class="form-group col">
                            {{ form.name }}
                            {% for error in form.name.errors %}
                                <span class="text-danger text-1 d-block mt-1">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            {{ form.phone }}
                            {% for error in form.phone.errors %}
                                <span class="text-danger text-1 d-block mt-1">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            {{ form.message }}
                            {% for error in form.message.errors %}
                                <span class="text-danger text-1 d-block mt-1">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <input type="submit"
                                   value="ارسال پیام"
                                   class="btn btn-outline btn-primary rounded-0 py-3 px-5 font-weight-semibold"
                                   >
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-5">
                <div class="custom-card-style-2 card-contact-us mb-5">
                    <div class="m-4">
                        <div class="row flex-column px-5 pt-3 pb-4">
                            <div class="row px-3 mb-3">
                                <h3 class="text-secondary font-weight-bold text-capitalize my-3">اطلاعات تماس</h3>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه</p>
                            </div>
                            <div class="row px-lg-3 align-items-center">
                                <div class="col-2 col-lg-1 px-1 text-center">
                                    <i class="fas fa-map-marker-alt text-8 text-secondary align-middle"></i>
                                </div>
                                <div class="col-10 col-lg-11">
                                    <h4 class="text-secondary font-weight-bold text-capitalize mb-1">آدرس</h4>
                                    <p class="mb-0">{{ site_config.address }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row px-lg-3 align-items-center">
                                <div class="col-2 col-lg-1 px-1 text-center">
                                    <i class="fas fa-mobile-alt text-8 text-secondary align-middle"></i>
                                </div>
                                <div class="col-10 col-lg-11">
                                    <h4 class="text-secondary font-weight-bold text-capitalize mb-1">شماره تلفن</h4>
                                    <p class="mb-0">
                                        <a href="tel:{{ site_config.phone }}" class="text-color-default">
                                            <span class="ltr-text">{{ site_config.phone }}</span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row px-lg-3 align-items-center">
                                <div class="col-2 col-lg-1 px-1 text-center">
                                    <i class="far fa-envelope text-7 text-secondary align-middle"></i>
                                </div>
                                <div class="col-10 col-lg-11">
                                    <h4 class="text-secondary font-weight-bold text-capitalize mb-1">آدرس ایمیل</h4>
                                    <p class="mb-0">
                                        <a class="px-0 text-default" href="mailto:{{ site_config.email }}">{{ site_config.email }}</a>
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row px-lg-3 align-items-center">
                                <div class="col-2 col-lg-1 px-1 text-center">
                                    <i class="far fa-calendar-alt text-7 text-secondary align-middle"></i>
                                </div>
                                <div class="col-10 col-lg-11">
                                    <h4 class="text-secondary font-weight-bold text-capitalize mb-1">روزها/ساعات کاری</h4>
                                    <p class="mb-1">{{ site_config.working_hours }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
