{% load static %}
<section class="section custom-angled section-angled bg-tertiary border-top-0 pb-0 pb-lg-5 mb-5 mb-lg-0">
    <div class="section-angled-layer-top bg-light"></div>
    <div class="section-angled-layer-bottom bg-light d-none d-lg-block"></div>
    <div class="section-angled-content mb-0 mb-lg-5">
        <div class="container py-0 container-lg custom-container">
            <div class="row align-items-center justify-content-center pt-5 pb-lg-5">
                <div class="col-md-8 col-xl-6 mb-md-5 mb-xl-4">
                    <div class="position-relative">
                        <img src="{% static 'img/demos/construction-2/about-us/about-1.jpg' %}"
                             class="img-fluid custom-img border-radius-0 max-w-90 appear-animation"
                             data-appear-animation="fadeIn"
                             data-appear-animation-delay="600ms"
                             alt="">
                        <img src="{% static 'img/demos/construction-2/about-us/about-2.jpg' %}"
                             class="img-fluid custom-img border-radius-0 position-absolute custom-img-about appear-animation"
                             data-appear-animation="expandIn"
                             data-appear-animation-delay="600ms"
                             alt="">
                    </div>
                </div>
                <div class="col-xl-6 mt-lg-5 mt-xl-0">
                    <div class="pl-md-4 mt-5">
                        <div class="row">
                            <div class="col">
                                <p class="mb-1">ما چه کسی هستیم</p>
                                <h3 class="text-secondary font-weight-bold text-capitalize text-7 mb-2">بیشتر درباره ساخت و ساز پورتو</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text-4 pt-2 mb-4">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                </p>
                                <p class="mb-3">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
                                </p>
                                <p class="font-weight-bold mb-3">
                                    <a href="demo-construction-2-about-us.html"
                                       class="link-hover-style-1 text-color-primary">بیشتر بخوانید +</a>
                                </p>
                                <div class="row mb-4 counters counters-sm text-secondary">
                                    <div class="col-6 col-lg-3 mb-4 mb-lg-0 mt-4">
                                        <div class="counter">
                                            <strong data-to="35" data-append="+">35+</strong>
                                            <label class="text-2 mt-2">سال کسب و کار</label>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-3 mb-4 mb-lg-0 mt-4">
                                        <div class="counter">
                                            <strong data-to="240" data-append="+">240+</strong>
                                            <label class="text-2 mt-2">مشتری راضی</label>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-3 mb-4 mb-sm-0 mt-4">
                                        <div class="counter">
                                            <strong data-to="2000" data-append="+">2000+</strong>
                                            <label class="text-2 mt-2">پروژه موفق</label>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-3 mt-4">
                                        <div class="counter">
                                            <strong data-to="130" data-append="+">130+</strong>
                                            <label class="text-2 mt-2">مشاوران حرفه ای</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
