<section class="section custom-angled section-angled bg-tertiary border-top-0 pt-0 pb-0 pb-lg-5 mb-5 mb-lg-0">
    <div class="section-angled-layer-bottom bg-light d-none d-lg-block"></div>
    <div class="section-angled-content mb-0 mb-lg-5 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300">
        <div class="container container-lg pb-4 pb-lg-0">
            <div class="row pb-lg-5">
                <div class="col-lg-4 custom-select-slide py-2" id="slide-1">
                    <div class="mt-5 mb-lg-5">
                        <h4 class="text-color-secondary font-weight-bold text-5 mb-2">خدمات ساخت و ساز قابل اعتماد</h4>
                        <p class="mb-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه</p>
                        <p class="font-weight-bold mb-lg-3">
                            <a href="demo-construction-2-about-us.html" class="link-hover-style-1 text-color-primary">بیشتر بخوانید +</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 custom-select-slide py-2" id="slide-2">
                    <div class="mt-lg-5 mb-lg-5">
                        <h4 class="text-color-secondary font-weight-bold text-5 mb-2">مدیریت پروژه</h4>
                        <p class="mb-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه</p>
                        <p class="font-weight-bold mb-lg-3">
                            <a href="demo-construction-2-about-us.html" class="link-hover-style-1 text-color-primary">بیشتر بخوانید +</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 custom-select-slide py-2" id="slide-3">
                    <div class="mt-lg-5 mb-lg-5">
                        <h4 class="text-color-secondary font-weight-bold text-5 mb-2">ساخت رستوران</h4>
                        <p class="mb-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه</p>
                        <p class="font-weight-bold mb-lg-3">
                            <a href="demo-construction-2-about-us.html" class="link-hover-style-1 text-color-primary">بیشتر بخوانید +</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>