{% load static %}
<section class="section bg-light border-0 p-0 m-0" id="services">
    <div class="container container-lg">
        <div class="row">
            <div class="col">
                <p class="mb-1">ما چه کار می‌کنیم؟</p>
                <h3 class="text-secondary font-weight-bold text-capitalize text-7 mb-3">خدمات ما</h3>
            </div>
        </div>
        <div class="row mx-0">
            <div class="owl-carousel owl-theme custom-dots mt-3 mb-0"
                 data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 2}, '992': {'items': 3}, '1200': {'items': 4}}, 'margin': 18, 'loop': false, 'nav': false, 'dots': true}">
                {% for service in services %}
                    <div>
                        <div class="card custom-card border-radius-0">
                            <div class="card-body text-center py-3">
                                <h4 class="card-title mb-3 text-5 text-secondary font-weight-bold">{{ service.name }}</h4>
                                <p class="card-text">{{ service.short_description }}</p>
                                <p class="font-weight-bold mb-0 pb-4">
                                    <a href="{% url 'service-detail' service.slug %}"
                                       class="link-hover-style-1 text-color-primary">بیشتر بخوانید +</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
