{% load static %}

<section class="section bg-light border-0 p-0 m-0" id="services">
    <div class="container container-lg">
        <div class="row">
            <div class="col">
                <p class="mb-1">ما چه کار می‌کنیم؟</p>
                <h3 class="text-secondary font-weight-bold text-capitalize text-7 mb-3">خدمات ما</h3>
            </div>
        </div>
        <div class="row mx-0">
            <div class="owl-carousel owl-theme custom-dots mt-3 mb-0" data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 2}, '992': {'items': 3}, '1200': {'items': 4}}, 'margin': 18, 'loop': false, 'nav': false, 'dots': true}">
                <div>
                    <div class="card custom-card border-radius-0">
                        <div class="card-body text-center py-3">
                            <div class="feature-box-icon d-flex justify-content-center w-auto my-2 py-4">
                                <img class="icon-animated" width="80" src="{% static 'img/demos/construction-2/icons/icon-plumbing.svg' %}" alt="" data-icon data-plugin-options="{'color': '#220c3c', 'animated': true, 'delay': 0, 'strokeBased': true}">
                            </div>
                            <h4 class="card-title mb-3 text-5 text-secondary font-weight-bold">لوله کشی</h4>
                            <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و</p>
                            <p class="font-weight-bold mb-0 pb-4">
                                <a href="demo-construction-2-services-details.html" class="link-hover-style-1 text-color-primary">بیشتر بخوانید +</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card custom-card border-radius-0">
                        <div class="card-body text-center py-3">
                            <div class="feature-box-icon d-flex justify-content-center w-auto my-2 py-4">
                                <img class="icon-animated" width="80" src="{% static 'img/demos/construction-2/icons/icon-construction.svg' %}" alt="" data-icon data-plugin-options="{'color': '#220c3c', 'animated': true, 'delay': 200, 'strokeBased': true}">
                            </div>
                            <h4 class="card-title mb-3 text-5 text-secondary font-weight-bold">ساخت و ساز عمومی</h4>
                            <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و</p>
                            <p class="font-weight-bold mb-0 pb-4">
                                <a href="demo-construction-2-services-details.html" class="link-hover-style-1 text-color-primary">بیشتر بخوانید +</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card custom-card border-radius-0">
                        <div class="card-body text-center py-3">
                            <div class="feature-box-icon d-flex justify-content-center w-auto my-2 py-4">
                                <img class="icon-animated" width="80" src="{% static 'img/demos/construction-2/icons/icon-painting.svg' %}" alt="" data-icon data-plugin-options="{'color': '#220c3c', 'animated': true, 'delay': 400, 'strokeBased': true}">
                            </div>
                            <h4 class="card-title mb-3 text-5 text-secondary font-weight-bold">نقاشی</h4>
                            <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و</p>
                            <p class="font-weight-bold mb-0 pb-4">
                                <a href="demo-construction-2-services-details.html" class="link-hover-style-1 text-color-primary">بیشتر بخوانید +</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card custom-card border-radius-0">
                        <div class="card-body text-center py-3">
                            <div class="feature-box-icon d-flex justify-content-center w-auto my-2 py-4">
                                <img class="icon-animated" width="80" src="{% static 'img/demos/construction-2/icons/icon-pre-construction.svg' %}" alt="" data-icon data-plugin-options="{'color': '#220c3c', 'animated': true, 'delay': 600, 'strokeBased': true}">
                            </div>
                            <h4 class="card-title mb-3 text-5 text-secondary font-weight-bold">پیش ساخت و ساز</h4>
                            <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و</p>
                            <p class="font-weight-bold mb-0 pb-4">
                                <a href="demo-construction-2-services-details.html" class="link-hover-style-1 text-color-primary">بیشتر بخوانید +</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card custom-card border-radius-0">
                        <div class="card-body text-center py-3">
                            <div class="feature-box-icon d-flex justify-content-center w-auto my-2 py-4">
                                <img class="icon-animated" width="80" src="{% static 'img/demos/construction-2/icons/icon-painting.svg' %}" alt="" data-icon data-plugin-options="{'color': '#220c3c', 'animated': true, 'delay': 800, 'strokeBased': true}">
                            </div>
                            <h4 class="card-title mb-3 text-5 text-secondary font-weight-bold">نقاشی</h4>
                            <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و</p>
                            <p class="font-weight-bold mb-0 pb-4">
                                <a href="demo-construction-2-services-details.html" class="link-hover-style-1 text-color-primary">بیشتر بخوانید +</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>