{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="page-header bg-color-tertiary custom-page-header page-header-modern page-header-background page-header-background-sm parallax mt-0"
             data-plugin-parallax
             data-plugin-options="{'speed': 1.2}"
             data-image-src="{% static 'img/demos/construction-2/page-header.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-md-12 align-self-center">
                    <ul class="breadcrumb custom-breadcrumb d-block text-center text-4">
                        <li><a href="{% url 'home' %}">خانه</a></li>
                        <li class="active">درباره ما</li>
                    </ul>
                </div>
                <div class="col-md-12 align-self-center p-static text-center mt-1">
                    <h1 class="font-weight-bold text-color-secondary text-11">درباره ما</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="container container-lg pt-4">
        <div class="row">
            <div class="col">
                <p class="text-4">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز
                </p>
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها
                </p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <div class="featured-boxes featured-boxes-style-7">
                    <div class="row">
                        <div class="col-lg-4 appear-animation"
                             data-appear-animation="fadeInUpShorter"
                             data-appear-animation-delay="150">
                            <div class="featured-box custom-featured-box featured-box-primary featured-box-effect-7">
                                <div class="box-content d-flex text-left align-items-center">
                                    <div>
                                        <i class="icon-featured fas fa-building text-8 text-secondary ml-0"></i>
                                    </div>
                                    <div>
                                        <h4 class="font-weight-bold text-5 text-secondary my-2">ساخت و ساز ساختمان</h4>
                                        <p class="mb-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</p>
                                        <p class="text-2 font-weight-semibold mb-0">
                                            <a href="demo-construction-2-services-details.html"
                                               class="link-hover-style-1 text-primary">بیشتر بخوانید +</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 appear-animation"
                             data-appear-animation="fadeInUpShorter"
                             data-appear-animation-delay="150">
                            <div class="featured-box custom-featured-box featured-box-primary featured-box-effect-7">
                                <div class="box-content d-flex text-left align-items-center">
                                    <div>
                                        <i class="icon-featured fas fa-home text-8 text-secondary ml-0"></i>
                                    </div>
                                    <div>
                                        <h4 class="font-weight-bold text-5 text-secondary my-2">ساخت و ساز خانه</h4>
                                        <p class="mb-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</p>
                                        <p class="text-2 font-weight-semibold mb-0">
                                            <a href="demo-construction-2-services-details.html"
                                               class="link-hover-style-1 text-primary">بیشتر بخوانید +</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 appear-animation"
                             data-appear-animation="fadeInUpShorter"
                             data-appear-animation-delay="150">
                            <div class="featured-box custom-featured-box featured-box-primary featured-box-effect-7">
                                <div class="box-content d-flex text-left align-items-center">
                                    <div>
                                        <i class="icon-featured fas fa-clipboard text-8 text-secondary ml-0"></i>
                                    </div>
                                    <div>
                                        <h4 class="font-weight-bold text-5 text-secondary my-2">مدیریت پروژه</h4>
                                        <p class="mb-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</p>
                                        <p class="text-2 font-weight-semibold mb-0">
                                            <a href="demo-construction-2-services-details.html"
                                               class="link-hover-style-1 text-primary">بیشتر بخوانید +</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section bg-primary border-0 my-5">
        <div class="container container-lg">
            <div class="row row-gutter-sm my-4 py-2 lightbox"
                 data-plugin-options="{'delegate': 'a', 'type': 'image', 'gallery': {'enabled': true}, 'mainClass': 'mfp-with-zoom', 'zoom': {'enabled': true, 'duration': 300}}">
                <div class="col-md-4 pb-4 pb-md-0">
                    <a href="{% static 'img/demos/construction-2/about-us/about-us-1.jpg' %}"
                       class="appear-animation"
                       data-appear-animation="fadeInDownShorter"
                       data-appear-animation-delay="100">
                        <img src="{% static 'img/demos/construction-2/about-us/about-us-1.jpg' %}"
                             class="img-fluid"
                             alt="">
                    </a>
                </div>
                <div class="col-md-4 pb-4 pb-md-0">
                    <a href="{% static 'img/demos/construction-2/about-us/about-us-2.jpg' %}"
                       class="appear-animation"
                       data-appear-animation="fadeInDownShorter"
                       data-appear-animation-delay="300">
                        <img src="{% static 'img/demos/construction-2/about-us/about-us-2.jpg' %}"
                             class="img-fluid"
                             alt="">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{% static 'img/demos/construction-2/about-us/about-us-3.jpg' %}"
                       class="appear-animation"
                       data-appear-animation="fadeInDownShorter"
                       data-appear-animation-delay="500">
                        <img src="{% static 'img/demos/construction-2/about-us/about-us-3.jpg' %}"
                             class="img-fluid"
                             alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="container container-lg pt-3">
        <div class="row">
            <div class="col">
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی
                </p>
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید
                </p>
            </div>
        </div>
        <div class="row counters counters-md text-secondary appear-animation"
             data-appear-animation="fadeIn"
             data-appear-animation-delay="100">
            <div class="col-6 col-lg-3 mb-4 mb-lg-0 mt-4">
                <div class="counter">
                    <strong data-to="35" data-append="+">35+</strong>
                    <label class="text-2">سال کسب و کار</label>
                </div>
            </div>
            <div class="col-6 col-lg-3 mb-4 mb-lg-0 mt-4">
                <div class="counter">
                    <strong data-to="240" data-append="+">240+</strong>
                    <label class="text-2">مشتری راضی</label>
                </div>
            </div>
            <div class="col-6 col-lg-3 mb-4 mb-sm-0 mt-4">
                <div class="counter">
                    <strong data-to="2000" data-append="+">2000+</strong>
                    <label class="text-2">پروژه موفق</label>
                </div>
            </div>
            <div class="col-6 col-lg-3 mt-4">
                <div class="counter">
                    <strong data-to="130" data-append="+">130+</strong>
                    <label class="text-2">مشاوران حرفه ای</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr class="my-4">
            </div>
        </div>
    </div>
{% endblock %}
